### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
countPlayer = purchase_data["SN"].nunique()
df_sumPlayers = pd.DataFrame({"Total Players": [countPlayer]})
df_sumPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
countItems = purchase_data["Item ID"].nunique()
meanPrice = purchase_data["Price"].mean()
countPurchases = purchase_data["Purchase ID"].count()
sumPrice = purchase_data["Price"].sum()
df_analysisPurchasing = pd.DataFrame({"Number of Unique Values": [countItems],"Average Price":["${:.2f}".format(meanPrice)],"Number of Purchases":[countPurchases],"Total Revenue":["${:,.2f}".format(sumPrice)]})
df_analysisPurchasing

   Number of Unique Values Average Price  Number of Purchases Total Revenue
0                      179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [74]:
df_Player = purchase_data.groupby(["Gender","SN"], as_index=False).count()
df_Gender = df_Player.groupby("Gender").count()
percent = df_Gender["SN"]/countPlayer*100
df_Gender["Percentage of Players"] = (percent)
df_Demographics = df_Gender[["SN","Percentage of Players"]]
df_Demographics = df_Demographics.rename(columns={"SN": "Total Count"})
df_Demographics.style.format({"Percentage of Players": "%{:.2f}".format})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
groupPlayer = purchase_data.groupby(["Gender","SN"], as_index=False)
df_PlayerCount = groupPlayer["Item ID"].count()
df_PlayerMean = groupPlayer["Price"].mean()
df_PlayerSum = groupPlayer["Price"].sum()
df_PlayerTotal = groupPlayer["Price"].sum()

#rename columns
df_PlayerCount = df_PlayerCount.rename(columns={"Item ID": "Purchase Count"})
df_PlayerMean = df_PlayerMean.rename(columns={"Price": "Average Purchase Price"})
df_PlayerSum = df_PlayerSum.rename(columns={"Price": "Average Purchase Total"})
df_PlayerTotal = df_PlayerTotal.rename(columns={"Price": "Total Purchase Value"})

#calculate data by gender
df_GenderCount = df_PlayerCount.groupby(["Gender"]).sum()
df_GenderMean = df_PlayerMean.groupby(["Gender"]).mean()
df_GenderSum = df_PlayerSum.groupby(["Gender"]).mean()
df_GenderTotal = df_PlayerTotal.groupby(["Gender"]).sum()

#Join the gender summary dataframes
df_GenderSummary = pd.merge(df_GenderCount, df_GenderMean, on=["Gender"])
df_GenderSummary = pd.merge(df_GenderSummary, df_GenderSum, on=["Gender"])
df_GenderSummary = pd.merge(df_GenderSummary, df_GenderTotal, on=["Gender"])

df_GenderSummary = df_GenderSummary.style.format({"Average Purchase Price": "${:.2f}".format,
                                                  "Total Purchase Value": "${:,.2f}".format,
                                                  "Average Purchase Total": "${:.2f}".format})

df_GenderSummary

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [121]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
age_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34","35 to 39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels, right=False)

groupPlayer = purchase_data.groupby(["Age Group","SN"], as_index=False)
df_Player = groupPlayer.count()
df_Player = df_Player.dropna(how='any')

groupAge = df_Player.groupby(["Age Group"])
df_Age = groupAge.count()

percent = df_Age["SN"]/countPlayer*100
df_Age["Percentage of Players"] = (percent)
df_AgeSummary = df_Age[["SN","Percentage of Players"]]
df_AgeSummary = df_AgeSummary.rename(columns={"SN": "Total Players"})
df_AgeSummary = df_AgeSummary.style.format({"Percentage of Players": "%{:.2f}".format})

df_AgeSummary

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [125]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
age_labels = ["<10", "10 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34","35 to 39", "40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels, right=False)

groupPlayer = purchase_data.groupby(["Age Group","SN"], as_index=False)
df_PlayerCount = groupPlayer["Item ID"].count().dropna(how='any')
df_PlayerMean = groupPlayer["Price"].mean().dropna(how='any')
df_PlayerSum = groupPlayer["Price"].sum().dropna(how='any')
df_PlayerTotal = groupPlayer["Price"].sum().dropna(how='any')

#rename columns
df_PlayerCount = df_PlayerCount.rename(columns={"Item ID": "Purchase Count"})
df_PlayerMean = df_PlayerMean.rename(columns={"Price": "Average Purchase Price"})
df_PlayerSum = df_PlayerSum.rename(columns={"Price": "Average Purchase Total"})
df_PlayerTotal = df_PlayerTotal.rename(columns={"Price": "Total Purchase Value"})

#calculate data by age group
df_AgeCount = df_PlayerCount.groupby(["Age Group"]).sum()
df_AgeMean = df_PlayerMean.groupby(["Age Group"]).mean()
df_AgeSum = df_PlayerSum.groupby(["Age Group"]).mean()
df_AgeTotal = df_PlayerTotal.groupby(["Age Group"]).sum()

#Join the gender summary dataframes
df_AgeSummary = pd.merge(df_AgeCount, df_AgeMean, on=["Age Group"])
df_AgeSummary = pd.merge(df_AgeSummary, df_AgeSum, on=["Age Group"])
df_AgeSummary = pd.merge(df_AgeSummary, df_AgeTotal, on=["Age Group"])

df_AgeSummary = df_AgeSummary.style.format({"Average Purchase Price": "${:.2f}".format,
                                                  "Total Purchase Value": "${:,.2f}".format,
                                                  "Purchase Count": "{:,.0f}".format,
                                                  "Average Purchase Total": "${:.2f}".format})

df_AgeSummary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [151]:
groupPlayer = purchase_data.groupby(["SN"], as_index=False)
df_PlayerCount = groupPlayer["Item ID"].count()
df_PlayerMean = groupPlayer["Price"].mean()
df_PlayerSum = groupPlayer["Price"].sum()

#rename columns
df_PlayerCount = df_PlayerCount.rename(columns={"Item ID": "Purchase Count"})
df_PlayerMean = df_PlayerMean.rename(columns={"Price": "Average Purchase Price"})
df_PlayerSum = df_PlayerSum.rename(columns={"Price": "Total Purchase Value"})

#Join the player summary dataframes
df_PlayerSummary = pd.merge(df_PlayerCount, df_PlayerMean, on=["SN"])
df_PlayerSummary = pd.merge(df_PlayerSummary, df_PlayerSum, on=["SN"])

df_PlayerSummary = df_PlayerSummary.sort_values("Total Purchase Value", ascending=False)
df_Top5 = df_PlayerSummary.iloc[:5]
df_Top5 = df_Top5.style.format({"Average Purchase Price": "${:.2f}".format,
                                  "Total Purchase Value": "${:,.2f}".format})
df_Top5

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [194]:
df_Items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
groupItems = df_Items.groupby(["Item ID","Item Name"], as_index=True)
df_ItemCount = groupItems.count()
df_ItemSum = groupItems.sum()
df_ItemMean = groupItems.mean()

#rename columns
df_ItemCount = df_ItemCount.rename(columns={"Price": "Purchase Count"})
df_ItemSum = df_ItemSum.rename(columns={"Price": "Total Purchase Value"})
df_ItemMean = df_ItemMean.rename(columns={"Price": "Item Price"})

#merge dataframes
df_ItemSummary = pd.merge(df_ItemCount, df_ItemMean, on=["Item ID","Item Name"])
df_ItemSummary = pd.merge(df_ItemSummary, df_ItemSum, on=["Item ID","Item Name"])
df_ItemSummary = df_ItemSummary.sort_values("Purchase Count", ascending = False)
df_ItemSummary = df_ItemSummary.reset_index()

df_Top5 = df_ItemSummary.iloc[:5]
df_Top5 = df_Top5.style.format({"Item Price": "${:.2f}".format,
                                  "Total Purchase Value": "${:,.2f}".format})
df_Top5

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [195]:
df_Items = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
groupItems = df_Items.groupby(["Item ID","Item Name"], as_index=True)
df_ItemCount = groupItems.count()
df_ItemSum = groupItems.sum()
df_ItemMean = groupItems.mean()

#rename columns
df_ItemCount = df_ItemCount.rename(columns={"Price": "Purchase Count"})
df_ItemSum = df_ItemSum.rename(columns={"Price": "Total Purchase Value"})
df_ItemMean = df_ItemMean.rename(columns={"Price": "Item Price"})

#merge dataframes
df_ItemSummary = pd.merge(df_ItemCount, df_ItemMean, on=["Item ID","Item Name"])
df_ItemSummary = pd.merge(df_ItemSummary, df_ItemSum, on=["Item ID","Item Name"])
df_ItemSummary = df_ItemSummary.sort_values("Total Purchase Value", ascending = False)
df_ItemSummary = df_ItemSummary.reset_index()

df_Top5 = df_ItemSummary.iloc[:5]
df_Top5 = df_Top5.style.format({"Item Price": "${:.2f}".format,
                                  "Total Purchase Value": "${:,.2f}".format})
df_Top5